<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>111</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/servlet/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StuLoginServlet</servlet-name>
    <servlet-class>servlet.StuLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuLoginServlet</servlet-name>
    <url-pattern>/servlet/StuLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadTaskDesServlet</servlet-name>
    <servlet-class>servlet.UploadTaskDesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadTaskDesServlet</servlet-name>
    <url-pattern>/servlet/UploadTaskDesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadFileServlet</servlet-name>
    <servlet-class>servlet.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileServlet</servlet-name>
    <url-pattern>/servlet/UploadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadTestServlet</servlet-name>
    <servlet-class>servlet.UploadTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadTestServlet</servlet-name>
    <url-pattern>/servlet/UploadTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PrintTaskServlet</servlet-name>
    <servlet-class>servlet.PrintTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintTaskServlet</servlet-name>
    <url-pattern>/servlet/PrintTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadTaskServlet</servlet-name>
    <servlet-class>servlet.DownloadTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadTaskServlet</servlet-name>
    <url-pattern>/servlet/DownloadTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompleteTaskServlet</servlet-name>
    <servlet-class>servlet.CompleteTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteTaskServlet</servlet-name>
    <url-pattern>/servlet/CompleteTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadAnswerServlet</servlet-name>
    <servlet-class>servlet.UploadAnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadAnswerServlet</servlet-name>
    <url-pattern>/servlet/UploadAnswerServlet</url-pattern>
  </servlet-mapping>
</web-app>